<div class="container text-center mt-5">
    <h1 class="display-6">Corporate / Company Registration</h1>
    <form>
        <div class="row gap-2 text-start">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="mb3">
                    <label for="companyName" class="form-label">Company Name</label>
                    <input type="text" formControlName="companyName" class="form-control" id="companyName" >
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label for="userEmail" class="form-label">User Email</label>
                    <input type="email"  formControlName="userEmail" class="form-control" id="userEmail" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
            </div>
        </div>
        <div class="row gap-2 text-start">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control" id="password">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword">
                </div>
            </div>
        </div>
        <div class="row gap-2 text-start">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" formControlName="address" class="form-control" id="address">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" formControlName="city" class="form-control" id="city">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="mb-3">
                    <label for="state" class="form-label">State</label>
                    <input type="text" formControlName="state" class="form-control" id="state">
                </div>  
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="mb-3">
                    <label for="zip" class="form-label">Zip / Pin code</label>
                    <input type="text" formControlName="zip" class="form-control" id="zip">
                </div>
            </div>
        </div>
        <div class="row gap-2 text-start">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" formControlName="phone" class="form-control" id="phone">
                </div>  
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label for="companyURL" class="form-label">Company URL</label>
                    <input type="text" formControlName="companyURL" class="form-control" id="companyURL">
                </div>
            </div>
        </div>
    </form>
</div>
